footer {
  display: flex;
  border-top: 1px solid gainsboro;
  padding: 8px 0;
}

footer>a {
  flex-grow: 1;
  text-decoration: none;
}

figure {
  margin: 0 20px;
  font-size: small;
}

.navImg {
  max-height: 2rem;
  vertical-align: middle;
}